h2 Show details
div.row-fluid
	label(for='text') Insert text here:
	textarea.show-todo(ng-model='todo.text')
div.row-fluid
	label(for='date') Insert expiration date here:
	input#datepicker(type="text" ng-model="todo.date")
